<log4net>
  <!-- Visual studio appender -->
  <appender name="TraceAppenderVisualStudio" type="log4net.Appender.TraceAppender">
    <threshold value="DEBUG"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d{MM-dd hh:mm:ss.ffff}  [%thread]  %m%n" />
    </layout>
  </appender>

  <!-- FILE APPENDER-->
  <appender name="RollingFileAppenderAll" type="log4net.Appender.RollingFileAppender">
    <!-- CHANGE THIS VALUE TO DEFINE RELATIVE PATH OR FULL PATH -->
    <file value="Logs" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="50MB" />
    <preserveLogFileNameExtension value="true" />
    <datePattern value="\\yyyy\\MM\\'commonsIP4Net.log'" />
    <staticLogFileName value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <IgnoresException value="False" />
      <param name="ConversionPattern" value="%-5p %d{MM-dd hh:mm:ss.ffff}  [%thread]  %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>
  
  <!-- FILE APPENDER-->
  <appender name="RollingFileAppenderDEBUG" type="log4net.Appender.RollingFileAppender">
    <!-- CHANGE THIS VALUE TO DEFINE RELATIVE PATH OR FULL PATH -->
    <file value="Logs" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="50MB" />
    <preserveLogFileNameExtension value="true" />
    <datePattern value="\\yyyy\\MM\\'debug_commonsIP4Net.log'" />
    <staticLogFileName value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d{MM-dd hh:mm:ss.ffff}  [%thread]  %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="DEBUG"/>
    </filter>
  </appender>
  
  <!-- FILE APPENDER-->
  <appender name="RollingFileAppenderERROR" type="log4net.Appender.RollingFileAppender">
    <!-- CHANGE THIS VALUE TO DEFINE RELATIVE PATH OR FULL PATH -->
    <file value="Logs" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="50MB" />
    <preserveLogFileNameExtension value="true" />
    <datePattern value="\\yyyy\\MM\\'error_commonsIP4Net.log'" />
    <staticLogFileName value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d{MM-dd hh:mm:ss.ffff}  [%thread]  %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>
  
  <!-- FILE APPENDER-->
  <appender name="RollingFileAppenderINFO" type="log4net.Appender.RollingFileAppender">
    <!-- CHANGE THIS VALUE TO DEFINE RELATIVE PATH OR FULL PATH -->
    <file value="Logs" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="50MB" />
    <preserveLogFileNameExtension value="true" />
    <datePattern value="\\yyyy\\MM\\'info_commonsIP4Net.log'" />
    <staticLogFileName value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d{MM-dd hh:mm:ss.ffff}  [%thread]  %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO"/>
      <levelMax value="INFO"/>
    </filter>
  </appender>
      
      
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFileAppenderAll" />
    <appender-ref ref="RollingFileAppenderDEBUG" />
    <appender-ref ref="RollingFileAppenderERROR" />
    <appender-ref ref="RollingFileAppenderINFO" />
    <appender-ref ref="TraceAppenderVisualStudio" />
    <!--<appender-ref ref="AdoNetAppender" />-->
  </root>
</log4net>
